.bgWarning {
  background: #F1C40E;
  z-index: 1;
  position: relative;
}
/* .equipment-list {
  border
} */
.equipment-item {
  padding: 1rem;
  border: 2px solid #D9D9D9;
  margin-bottom: -2px;
}
.equipment-item-top {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

/* .equipment-images {
  width: 5rem;
  height: 5rem;
} */
.equipment-image, .no-photos {
  height: 5rem;
  width: 5rem;
}
.equipment-item-image img {
  display: block;
  object-fit: cover;
  height: 5rem;
  width: 5rem;
}
.equipment-description {
  padding-left: 5rem;
}
.no-photos {
  display: flex;
  align-items: center;
  justify-content: center;
}

.label {
  font-size: .7rem;
  display: inline-block;
  color: #fff;
  border-radius: .2rem;
  padding: .2rem .3rem;
  font-weight: bold;
  margin-right: 0.4rem;
}
.label-muted { background-color: #6C757D;}
.label-blue { background-color: #057BFF;}
